.button_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_container a {
    padding: 14px 20px;
    z-index: 2;
    text-decoration: none;
    background-color: #FF5154;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 2px;
    transition: .4s;
    border:1px solid #FFFFFF;
    margin-bottom: 50px;
    cursor: pointer;
}

.button_container a:hover {
    background-color: #EB5E55;
    border: 1px solid black;
}