.AdminProductForm {
    width: 100%;
    height: 100%;

  .AdminProductForm_Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    .input_row {
      display: flex;
      flex-direction: column;
      width: 25%;
      gap: 5px;

      label {
        letter-spacing: 2px;
        font-weight: 600;
      }

      input {
        padding: 12px 24px;
        letter-spacing: 2px;
        font-weight: 600;
      }

    }
    .file_row {
      display: flex;
      align-items: center;
      width: 25%;
      input {
        padding: 12px 24px;
        letter-spacing: 2px;
        font-weight: 600;
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
        font-weight: 700;
      }

    }
    button {
      background-color: #FF5154;
      padding: 12px 24px;
      border: 1px solid #FF5154;
      width: 25%;
      color: #FFFFFF;
      letter-spacing: 2px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}