.AdminProductForm {
    display: flex;
    width:100%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto;
    margin: 10px 0;
}
.AdminProductForm div {
    display: flex;
    width: 40%;
    flex-direction: column;
}
.AdminProductForm .input_container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: 40%;
    margin-bottom: 10px;
}

.AdminProductForm .input_container button {
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
}

.AdminProductForm label {
    letter-spacing: 2px;
    font-weight: 600;
}

.AdminProductForm input {
    padding: 12px 24px;
    letter-spacing: 2px;
    font-weight: 600;
}
.AdminProductForm button {
    background-color: #FF5154;
    padding: 12px 24px;
    border: 1px solid #FF5154;
    width: 40%;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.AdminProductForm button:hover {
    background-color: #EB5E55;
}
