.AuthImage {
   width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images3.alphacoders.com/135/thumb-1920-135625.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
}
@media (max-width: 450px){
 .AuthImage{
  display: none;
 }
}