.slider {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 900px;
    margin-bottom: 50px;
}

.slider .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider .slide img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide .info {
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    top: 0%;
    color: #FF5154;
    letter-spacing: 2px;
    width: 40%;
    height: 25%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #FF5154;
    box-shadow: 0 5px 25px rgba(1 1 1 0.05);
}
.slider .slide .info2 {
    position: absolute;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 32%;
    color: #181f24;
    letter-spacing: 2px;
    width: 40%;
    height: 25%;
    padding: 20px;
    border-radius: 5px;
    background: none;
    border: 1px solid #FFFFFF;
    box-shadow: 0 5px 25px rgba(1 1 1 0.05);
}
.slider .slide .info h2 {
    text-align: center;
    position: relative;
    font-size: 64px;
    font-weight: 700;
}

.navigation {
    width: 100%;
    padding: 50px;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prev-btn, .next-btn {
    color: black;
    z-index: 2;
    cursor: pointer;
    padding: 10px;
    background: #FFFFFF;
}
.prev-btn {
    border-radius: 50%;
}
.next-btn {
    border-radius: 50%;
}
@media screen and (max-width: 1000px) {
    .slider {
        height: 400px;
    }
    .slider .slide {
        height: 400px;
    }
    .navigation {
        height: 400px;
    }
    .slider .slide img {
        height: 400px;
    }
    .slider .slide .info {
        padding: 10px;
        bottom: -10%;
        margin: 0 10%;
    }
    .slider .slide .info h2 {
        font-size: 24px;
    }

}
@media (max-width: 450px) {
    .slider {
        height: 90vh;
    }
    .slider .slide {
        height: 90vh;
    }
    .navigation {
        height: 90vh;
    }
    .slider .slide img {
        height: 90vh;
    }
    .prev-btn, .next-btn {
        display: none;
    }
    .slider .slide .info {
        width: 70%;
    }
    .slider .slide .info2 {
        width: 70%;
        left: 20%;
    }
    .slider .slide .info h2 {
     font-size: 45px;
    }
}