.AdminProductForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.AdminProductForm label {
    width: 40%;
    letter-spacing: 2px;
    font-weight: 600;
}

.AdminProductForm input {
    padding: 12px 24px;
    width: 40%;
    letter-spacing: 2px;
    font-weight: 600;
}
.AdminProductForm button {
    background-color: #FF5154;
    padding: 12px 24px;
    border: 1px solid #FF5154;
    width: 40%;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.AdminProductForm button:hover {
    background-color: #EB5E55;
}
